.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 1.7rem;
    right: 2.5rem;
    cursor: pointer;
  }

  .cart-shopping__icon {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
  }

  .cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    background-color: #ff2400;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    display: none;
  }
  .cart-shopping__icon:hover {
    color: #23fa00;
  }
  .right-content {
    display: none;
  }
 .cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 1.7rem;
    right: 2.5rem;
    cursor: pointer;
  }

  .cart-shopping__icon {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
  }

  .cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    background-color: #ff2400;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    display: none;
  }
  .cart-shopping__icon:hover {
    color: #23fa00;
  }
  .right-content {
    display: none;
  }

/* Mobile screens */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .main-contents {
    margin: 0 auto;
    grid-template-columns: 50% 50%;
  }

  .items-container {
    grid-template-columns: 1fr;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
  }

  #right-content__title {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: center;
  }

  #right-content__title::before {
    display: none;
  }

  /* .items-card {
    position: relative;
  } */

  .item-img {
    height: 200px;
    object-fit: cover;
  }

  .items-card .dessert-title,
  .dessert-price {
    font-size: 1rem;
  }

  .addToCart-btn {
    top: -1rem;
    left: 5.5rem;
    padding: 2px 12px;  
    height: 25px;
}

  .addToCart-btn > * {
    font-size: 12px;
  }

  .dessert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dessert-content > * {
    margin-bottom: 0.4rem;
  }
}

/* Tablet size */
@media screen and (min-width: 481px) and (max-width: 1000px){
  .main-contents {
    margin: 2rem;
  }
  .items-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .items-card {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width:769px) {
    .right-content{
        display: block;
    }

    .cart-icon{
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
    body {
        font-size: 14px;
    }

    .main-contents {
        margin: 0 auto;
        grid-template-columns: 50% 50%;
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        transform: translateX(0);
    }

    .cart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 1.7rem;
        right: 2.5rem;
        cursor: pointer;
    }

    .cart-shopping__icon {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        transition: all 200ms ease;
    }

    .cart-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        color: #fff;
        background-color: #FF2400;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 50%;
        display: none;
    }

    .cart-shopping__icon:hover {
        color: #23fa00;
    }

    .right-content {
        display: none;
    }

    #right-content__title {
        font-size: 1.6rem;
        margin: 2rem;
    }

    .item-img {
        height: 220px;
        object-fit: cover;
    }

    .addToCart-btn {
        top: -1rem;
        left: 5.5rem;
        padding: 2px 12px;
        height: 25px;
    }

    .addToCart-btn>* {
        font-size: 12px;
    }

    .dessert-content>* {
        margin-bottom: 0.4rem;
    }
}
